{% extends 'base.html.twig' %}

{% block title %}Yo les petits potes!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Bienvenue dans le poject de comptabilité</h1>
    <p>lorem upsum</p>
</div>
{% endblock %}
